#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Roboto-Light;
}

@font-face {
  font-family: Starjedi;
  src: url('./assets/Fonts/Starjedi.ttf');
}

@font-face {
  font-family: Roboto-Light;
  src: url('./assets/Fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url('./assets/Fonts/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: Roboto-Medium;
  src: url('./assets/Fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-MediumItalic;
  src: url('./assets/Fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: Roboto-Regular;
  src: url('./assets/Fonts/Roboto-Regular.ttf');
}

main {
  max-width: 1280px;
  background-color: rgba(0,0,0,0.75);
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: Starjedi;
  font-size: 60px;
}

h2 {
  font-family: Starjedi;
  font-size: 25px;
}

h3 {
  font-family: Roboto-MediumItalic;
  font-size: 25px;
}

ol {
  list-style-type: none;
  max-width: 180px;
  margin: auto;
}

li {
  max-width: 180px;
}

li:hover {
  color: rgb(130, 1, 1);
}



@media (max-width: 1400px) {
  main {
    max-width: 900px;
    margin: auto;
  }
}

@media (max-width: 365px) {
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  h3 {
    font-size: 18px;
  }
}