/* CARD DETAIL */

.cardDetail {
  display: flex;
  margin: 0px;
  height: 15px;
  width: 100%;
  border-bottom-right-radius: 5px;
}

.cardDetailLeft {
  background-color: #1d1e1f;
  height: 15px;
  width: 50%;
}

.cardDetailCenterLeft {
  height: 0px;
  width: 0px;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #1d1e1f;
}

.cardDetailCenter {
  width: 20%;
}

.cardDetailCenterRight {
  height: 0px;
  width: 0px;
  border-bottom: 15px solid transparent;
  border-right: 20px solid #1d1e1f;
}

.cardDetailRight {
  background-color:#1d1e1f;
  border-bottom-right-radius: 5px;
  height: 15px;
  width: 25%;
}