.card {
  max-height: 240px;
  max-width: 400px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 0.1px;
  cursor: pointer;
  background-color: #111;
  margin: auto;
}

.card2 {
  max-height: 500px;
  max-width: 300px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 0.1px;
  cursor: pointer;
  background-color: #111;
  margin: auto;
}

.cardDecal {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 10px;
  width: 55px;
  margin-right: 1px;
  margin-left: auto;
}

.cardDecalLeft {
  background-color: rgb(148, 151, 154);
  margin: 10px 3px auto 0px;
  border-radius: 5px;
  height: 4px;
  width: 15px;
}

.cardDecalRight {
  background-color: rgb(148, 151, 154);
  margin: 10px auto auto 0px;
  border-radius: 50%;
  height: 4px;
  width: 5px;
}

.img {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  object-fit: fill;
  max-width: 400px;
  max-height: 200px;
  height: 100%;
  width: 100%;
}

.img2 {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  object-fit: fill;
  max-width: 300px;
  max-height: 480px;
  height: 100%;
  width: 100%;
}

.title {
  font-family: Roboto-Medium;
  height: 30px;
  padding: 0.1px;
  border-start-start-radius: 10px;
  margin: 5px 0px 5px 0px;
  font-size: 20px;
}

.card:hover {
  .cardDecalLeft {
    background-color: white;
    box-shadow: 0px 0px 5px white;
  }

  .cardDecalRight {
    background-color: white;
    box-shadow: 0px 0px 5px white;
  }
}
