.toTop {
  display: none;
}

.toTop2 {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.icon {
  display: none;
}

.icon2 {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.icon2:hover {
  background-color: rgb(130, 1, 1);
}

@media (max-width: 365px) {
  .toTop2 {
    position: fixed;
    bottom: 50px;
    right: 10px;
  }
}

